#screen {
  box-sizing: border-box;
  border: 5px solid purple;
  /* margin: 0 auto; */
}

body {
  touch-action: manipulation;
  font-size: 0;
  overflow: hidden;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    146deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(255, 11, 61, 1) 100%
  );

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h3 {
  margin: 5px;
}

h2 {
  margin-top: 0;
}

body .hide {
  display: none;
}

.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #f2b7fd;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;

  background: rgb(63, 94, 251);
  background: linear-gradient(
    146deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(255, 11, 61, 1) 100%
  );
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 800px;
  margin: 0 auto;
}

.frame button {
  border: none;
  background: #fefefe;
  color: #9e6bc7;
  padding: 2vh 2vw;
  margin: 5px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  width: 500px;
}

.frame button:hover {
  background: #9e6bc7;
  color: #fefefe;
}

.frame button:active {
  background: #cf03f8;
  color: #fefefe;
}

#win > h2 {
  padding: 20px;
  background: #a4e697;
  color: #a102a1;
}

#win > h3 {
  padding: 20px;
  background: #ab8dff;
  color: #a102a1;
}

#fail > h2 {
  padding: 20px;
  background: #f38686;
  color: #a102a1;
}

.game .navigation {
  font-size: 0;
  margin: 0;
}

.game .navigation > button {
  border: none;
  background: #fefefe;
  color: #9e6bc7;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.9rem;
  width: 25%;
}

.navigation > button:hover {
  background: #9e6bc7;
  color: #fefefe;
}

.navigation > button:active {
  background: #cf03f8;
  color: #fefefe;
}

.options {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  width: 500px;
  margin: 0 auto;
}

.options .option {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.option > label {
  flex: 2;
}

.option > img {
  flex: 1;
}

.option > input {
  flex: 1;
}

.option > p {
  flex: 5;
}

#referenceMenu .back {
  margin-bottom: 20px;
}

#referenceMenu .options {
  width: 100%;
}

input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

#referenceMenu img {
  width: 10%;
  height: 10%;
  float: left;
}

#referenceMenu .options {
  flex-direction:row;
  flex-wrap: wrap;
}

#bonusList {
  font-size: 0;
  width: 100%;
}

#bonusList div {
  margin: 0;
  display: inline-block;
}

#bonusList .option {
  font-size: 1.2rem;
  width: 45%;
}


@media screen and (max-width: 800px) {
  .frame button {
    font-size: 4vmin;
    width: 90%;
  }

  #optionsMenu > .options {
    width: 100%;
  }

  .game .navigation > button {
    width: 25%;
    max-width: 200px;
    padding: 4px 4px;
    margin: 0;

    font-size: 4vmin;
  }

  #bonusList .option {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 0;
}


.gameArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* height: 100%; */
}

.controller > button {
  margin: 0;
}



input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4); /* IE */
  -moz-transform: scale(4); /* FF */
  -webkit-transform: scale(4); /* Safari and Chrome */
  -o-transform: scale(4); /* Opera */
  transform: scale(4);
  padding: 10px;
}